.awesome {
  padding: 3.125rem 0 3.625rem 0;
}
.awesome__row {
  margin: 4.437rem auto auto auto;
}
.item-awesome {
  display: inline-block;
}
.item-awesome:nth-child(2) {
  margin: 0px 1.625rem;
}
.item-awesome__icon {
  border-radius: 50%;
  width: 5.75rem;
  height: 5.75rem;
  border: 1px solid var(--main-orange);
  margin: 2.437rem auto auto auto;
  padding: 0.834rem;
}

.item-awesome__icon-img {
  width: 4.08rem;
  height: 4.08rem;
}
.item-awesome__title {
  padding: 2.083em 0;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.5rem;
  font-style: normal;
}
.item-awesome__text {
  max-width: 23.125rem;
  margin: 0.5rem auto 0 auto;
  text-align: center;
}
