.contact {
  padding: 3.125rem 0;
}
.contact__form-data {
  padding: 5.562rem 0 3.125rem 0;
  display: flex;
  justify-content: space-between;
}
.contact__form-data-contactinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 35.687rem;
  min-height: 13.375rem;
}
.contact__form-data-contactinfo-input {
  min-height: 2.375rem;
}
.contact__form-data-message {
  flex-basis: 35.562rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  resize: none;
}
.contact__form-data-message::placeholder {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.357em;
  color: #bdbdbd;
}
.contact__form-button {
  display: flex;
  justify-content: center;
}
.contact__form-button-submit {
  flex-basis: 20.55em;
  min-height: 3.22em;
  border: none;
  background-color: var(--main-orange);
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.39em;
  color: var(--main-white);
  cursor: pointer;
}
