.design {
  padding: 3.125rem 0;
  background: linear-gradient(rgba(30, 29, 29, 0.8), rgba(0, 0, 0, 0.5)),
    url(../assets/images/design_section-background.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: fixed;
}

.design__section-header {
  color: var(--main-white);
}
.design__section-header-line {
  background-color: var(--main-white);
}
.design__section-header-subtitle {
  color: var(--main-white);
}
.design__button {
  display: flex;
  justify-content: center;
  padding-top: 4.562rem;
}
.design__button-download--transparent {
  flex-basis: 23.125rem;
}
@media (max-width: 480px) {
  .design {
    padding: 0 0 3.125rem 0;
  }
}
