.section-header__title {
  text-align: center;
  padding: 48px 0;
}
.section-header__line {
  width: 170px;
  height: 1px;
  background-color: var(--main-orange);
  margin: 0 auto;
}
.section-header__subtitle {
  text-align: center;
  margin: 40px auto auto auto;
}
