.main-footer {
  background-color: var(--main-black);
  padding: 2.5rem 0 1.69rem 0;
}
.main-footer-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-footer__copiraiting {
  padding-top: 2rem;
}
