.main-header {
  background-color: var(--main-black);
  position: fixed;
  width: 100vw;
  z-index: 100;
}
.main-header__container {
  max-width: 80rem;
}
.main-header__inner {
  display: flex;
  justify-content: space-between;
}

.main-navigation {
  margin-right: 2.5rem;
  display: flex;
  flex-basis: 35.625rem;
}

.main-navigation__link {
  display: flex;
  flex-basis: 8.143em;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--main-white);
}
.main-navigation__link:hover {
  color: var(--main-orange);
}
