.main-footer {
  background-color: var(--main-black);
  padding: 40px 0 27px 0;
}
.main-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-footer__links {
  width: 47.5%;
  display: flex;
  justify-content: space-between;
}
.main-footer__copiraiting {
  padding-top: 32px;
  text-align: center;
}
