.main-footer {
  background-color: var(--main-black);
  padding: 40px 0 27px 0;
}
.main-footer-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-footer__copiraiting {
  padding-top: 32px;
}
