.preview {
  background: linear-gradient(rgba(30, 29, 29, 0.8), rgba(0, 0, 0, 0.5)),
    url(../assets/images/preview-background.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: fixed;
}

.preview-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 13rem;
  padding-bottom: 10rem;
}

.preview__content {
  flex-basis: 41.875rem;
  color: var(--main-white);
}
.preview__content-title {
  margin: 0;
  padding: 1.062em 0 1.146em 0;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.17em;
}

.preview__content-line {
  background-color: var(--main-white);
  margin: 0;
}
.preview__content-text {
  padding: 2.33em 0;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.17em;
  max-width: 15em;
}
.preview__button-download--transparent {
  width: 40.3%;
}
.preview__registrationform {
  flex-basis: 29.375rem;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.preview__registrationform-title {
  flex-basis: 5.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.preview__registrationform-title-highlighted {
  color: var(--main-orange);
}
.preview__registrationform-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview__registrationform-form-data {
  margin-top: 2.81rem;
  min-height: 11.25rem;
  width: 78.7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.preview__registrationform-form-data-reginput {
  flex-basis: 38px;
}
.preview__registrationform-form-button {
  margin-top: 5em;
  margin-bottom: 0;
  width: 100%;
  border: none;
  border-radius: 0px 0px 10px 10px;
  flex-basis: 4em;
  background-color: var(--main-orange);
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.937rem;
  line-height: 1.33em;
  color: var(--main-white);
  cursor: pointer;
}
@media (max-width: 1024px) {
  .preview__content {
    flex-basis: 28.37rem;
  }
  .preview__content-title {
    font-size: 2.25rem;
  }
  .preview__registrationform {
    flex-basis: 24.875rem;
  }
}
@media (max-width: 480px) {
  .preview-flex-container {
    flex-wrap: wrap;
  }
  .preview-flex-container {
    padding-top: 7rem;
    padding-bottom: 5rem;
  }
  .preview__content-logo {
    display: none;
  }
  .preview__content-title {
    text-align: center;
  }
  .preview__content-line {
    margin: 0 auto;
  }
  .preview__content-text {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }
  .preview__button-download--transparent {
    width: 100%;
  }
  .preview__registrationform {
    margin: 3.5rem auto 0 auto;
  }
}
