.preview {
  min-height: 951px;
  background: linear-gradient(rgba(30, 29, 29, 0.8), rgba(0, 0, 0, 0.5)),
    url(../assets/images/preview-background.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: fixed;
}
.preview-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 208px;
}
.preview__content {
  flex-basis: 670px;
  color: var(--main-white);
}
.preview__content-title {
  margin: 0;
  padding: 51px 0 55px 0;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.preview__content-line {
  background-color: var(--main-white);
  margin: 0;
}
.preview__content-text {
  padding: 42px 0;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  max-width: 270px;
}
.preview__button-download--transparent {
  width: 40.3%;
}
.preview__registrationform {
  flex-basis: 470px;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.preview__registrationform-title {
  flex-basis: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.preview__registrationform-title-highlighted {
  color: var(--main-orange);
}
.preview__registrationform-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview__registrationform-form-data {
  margin-top: 45px;
  min-height: 180px;
  width: 78.7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.preview__registrationform-form-data-reginput {
  outline: none;
  flex-basis: 38px;
}
.preview__registrationform-form-button {
  margin-top: 75px;
  margin-bottom: 0;
  width: 100%;
  border: none;
  border-radius: 0px 0px 10px 10px;
  flex-basis: 60px;
  background-color: var(--main-orange);
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: var(--main-white);
  cursor: pointer;
}
