.reviews {
  padding: 50px 0 64px 0;
}
.reviews-content {
  display: flex;
  justify-content: space-between;
  padding-top: 83px;
}
.reviews-content__column {
  max-width: 31.6%;
  min-height: 336px;
}
.reviews-content__column-text {
  min-height: 180px;
  padding: 0 20px;
  background-color: #e2e2e2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
.reviews-content__column-block-text::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #e2e2e2;
  position: absolute;
  left: 70px;
}
.reviews-content__column-customer {
  display: flex;
  padding-top: 66px;
  align-items: flex-start;
}
.reviews-content__column-customer-name {
  margin-left: 30px;
}
.reviews-content__column-customer-name h4 {
  display: flex;
  align-items: center;
  min-height: 54px;
}
.reviews-content__column-customer-name p {
  min-height: 21px;
  margin-top: 15px;
}
