.tabs {
  padding-top: 6.875rem;
}
.tabs-content-container {
  border: 1px solid #c6cbcd;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs-content {
  max-width: 35.625rem;
  vertical-align: top;
  margin: 0 0 auto 8.5%;
  padding-bottom: 50px;
}
.tabs-content__title {
  padding: 1.317em 0;
  font-family: "Open Sans";
  font-size: 1.875rem;
}
.tabs-content__text {
  margin-top: 1.687rem;
  line-height: 1.312rem;
}
.tabs-content__button {
  margin: 1.5em auto auto 0;
  width: 47.37%;
  padding: 1.03em 0;
  background-color: var(--main-orange);
  color: var(--main-white);
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
}
.tabs__image {
  margin-left: 1.5rem;
}
.tabs-item {
  width: 15%;
}
.tabs-tab {
  padding: 0.57em 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  color: #333333;
  width: 100%;
}
.tabs-tab:hover {
  color: #333333;
}
@media (max-width: 1024px) {
  .tabs {
    padding-top: 3.125rem;
  }
  .tabs-content {
    max-width: 30.187rem;
  }
  .tabs-content__title {
    font-size: 1.5rem;
  }
  .tabs__image {
    flex-basis: 24.875rem;
    margin-left: 1rem;
  }
}
@media (max-width: 480px) {
  .tabs__image {
    display: none;
  }
  .tabs-content {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 30px;
  }
  .tabs-content__title {
    text-align: center;
  }
  .tabs-content__text {
    text-align: center;
  }
  .tabs-content__button {
    width: 100%;
  }
  .tabs-item {
    width: 33.333%;
  }
}
