.tabs {
  padding-top: 6.875rem;
}
.tabs-header {
  max-width: 38.062rem;
}
.tabs-header__tab {
  display: inline-block;
  width: 32.8%;
  text-align: center;
  padding: 0.57em 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  border: none;
  background-color: var(--main-white);
}
.tabs-header__tab--active {
  border: 1px solid #c6cbcd;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
  border-bottom: none;
  z-index: 1;
}
.tabs-content-container {
  border: 1px solid #c6cbcd;
}
.tabs-content {
  display: inline-block;
  max-width: 35.625rem;
  vertical-align: top;
  margin: 0 0 auto 8.5%;
}
.tabs-content__title {
  padding: 1.317em 0;
  font-family: "Open Sans";
  font-size: 1.875rem;
}
.tabs-content__text {
  margin-top: 1.687rem;
  line-height: 1.312rem;
}
.tabs-content__button {
  margin: 1.5em auto auto 0;
  width: 15em;
  padding: 1.03em 0;
  background-color: var(--main-orange);
  color: var(--main-white);
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
}
.tabs__image {
  display: inline-block;
  margin-left: 1.5rem;
}
